.flex-and-direction-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-and-direction-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-center-full {
    justify-content: center;
    align-items: center;
}

.flex-aligh-items-end {
    align-items: end !important;
}


.flex-gap-0-5 {
    gap: 0.5rem;
}

.alert {
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.d-none {
    display: none;
}

.flex-content-space-between {
    justify-content: space-between;
    align-items: center;
}

.flex-center-full-start {
    justify-content: start !important;
}

.flex-content-end {
    justify-content: end;
}

.flex-aligh-items-center {
    align-items: center;
}

.flex-grow-2 {
    flex-grow: 2;
}

.bg-white-border {
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid 1px #e8d8ff;
    background: white;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.bg__color-purple{
    background: var(--purple);
}
.bg__color-red{
        background: var(--red);
}

a {
    text-decoration: none;
    color: initial;
}

@media screen and (max-width: 992px) {
    .levels-cards__card {
           height: 65px;

    }



}
