.button__color-purple {
    background: var(--purple) !important;
}

.button__color-orange {
    background: var(--orange) !important;
}

.button__color-black {
    background: var(--black) !important;
}
.button__color-green {
    background: var(--green) !important;
}
.button__color-red {
    background: var(--red) !important;
}

.button__color-gold {
    background: var(--gold) !important;
}

.button {
    background: none;
    border: none;
    padding: 0.5rem 2rem;
    color: white;
    border-radius: 1rem;
}
