.header__navigation-bar__list-item {
    list-style: none;
}

.header__navigation-bar__link {
    color: white;
    text-decoration: none;
}

.header__navigation-bar__list {
    gap: 1rem;
    padding: 0rem;
}

.header__logo-figure {
    margin: 0rem !important;
}

.header__top-bar {
    margin-bottom: 1rem;
}

.dropdown-toggle {
    background: none;
    border: 0rem;
}

.header__logo-img {
    width: 60px;
}

.header__logo-text {
    background: var(--purple);
    background: linear-gradient(90deg, var(--purple) 29%, var(--orange) 100%);
    border-radius: 1rem;
    padding-right: 0.5rem;
}

header {
    background: var(--purple);
    padding-top: 1rem;
}

.item-selected {
    color: var(--purple) !important;
    font-weight: bold;
}

.item-selected--nav {
    font-weight: bold;
    border-bottom: solid 2px white;
}

.dropdown-menu__button {
    margin-left: 0.5rem;
    color: white;
}

.profile__avatar {
    width: 40px;
    margin-left: 0.8rem;
    clip-path: circle(39% at 50% 50%);
    object-fit: cover;
}

[alt="Avatar"] {
    width: 40px;
     clip-path: circle(39% at 50% 50%);
    object-fit: cover;
}
