.lesson__button {
    border: none;
    text-align: center;
}

/* Bloque Principal */
.lesson-stats {
    padding: 0.5rem;
}

.lesson-stats__item {
    background-color: #f8f9fa;
    border-radius: 16px;
    padding: 0rem 1rem;
    transition: transform 0.2s ease;
}

.lesson-stats__item--highlight {
    background: linear-gradient(to right, #ffffff, #f0f7ff);
    border: 2px solid #e0eaff;
    margin-bottom: 1rem;
}

.lesson-stats__item--secondary {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.lesson-stats__icon--diamond {
    color: var(--blue);
}

.lesson-stats__icon--time {
    color: #ffcc00;
}

.lesson-stats__icon--success {
    color: var(--green);
}

.lesson-stats__badge {
    background-color: var(--orange);
    color: white;
    padding: 0.2rem 0.8rem;
    border-radius: 20px;
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.lesson-stats__label {
    font-size: 0.8rem;
    display: block;
}

.lesson-stats__value {
    font-weight: 800;
    font-size: 1.1rem;
}

.lesson__button {
    background: none;
}

.lesson-modal__title {
    font-weight: bold;
}
