.ranking {
       width: clamp(300px, 90vw, 850px) ;
}
.ranking__avatar {
    width: 40px;
}

.ranking__score {
    background: var(--orange);
    padding: 0.5rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    color: white;
}
.ranking__score--player-other {
    color: color-mix(in srgb, var(--orange), gray 80%);
    background: none;
}

.ranking__username--player-other {
    color: color-mix(in srgb, var(--black), gray 60%);
}

.ranking__avatar--player-other {
    filter: grayscale(100%);
}
.ranking__number-one > span {
    position: relative;
    bottom: 0.3rem;
    text-align: center;
}

.ranking__number {
    font-weight: bold;
    text-align: center;
    width: 33.33%;
    border-radius: 1rem 1rem 0 0;
    background: var(--purple);
    padding: 0.5rem 2.5rem;
    color: white;
}

.ranking__item--highlight {
    /*  border-bottom: solid var(--black);*/
}

.ranking__header--the-best {
    background: none;
}

.study-plan__module,
.ranking__title,
.sidebar-levels__header {
    background: var(--purple);
    border-radius: 1rem 1rem 0 0;
    padding: 0.6rem 1rem;
    color: white;
}

.ranking__number-one-me {
    background: var(--orange);
}

.ranking__item--other {
    background: none;
}
