.search {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: start;
}

.search__seeker {
    width: clamp(340px, 30vh, 200px);
}

.search__action {
    align-self: start;
}
