.search {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: start;
}

.search__seeker {
    /*clamp(mín, ideal, máx)*/
    width: clamp(290px, 50vw, 500px);
}

.search__action {
    align-self: start;
}
