@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1500px;
    }
}

.color__purple {
    color: var(--purple);
    font-weight: bold;
}

/*table*/
.dataTable {
    display: block;
    width: 100%;
    margin: 1em 0;
}

.dataTable thead,
.dataTable tbody,
.dataTable thead tr,
.dataTable th {
    display: block;
}

.contentTableC {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.table__three-dots {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30px;
    display: block;
}

.dataTable thead {
    float: left;
}

.overflow-auto {
    overflow-x: auto;
}

.dataTable tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
}

.dataTable td,
.dataTable th {
    padding: 0.625em;
    line-height: 1.5em;
    border-bottom: 1px dashed #ccc;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.dataTable th {
    text-align: left;
    background: rgba(0, 0, 0, 0.14);
    border-bottom: 1px dashed #aaa;
}

.dataTable tbody tr {
    display: table-cell;
}

thead > tr {
    background: var(--purple) !important;
    color: white !important;
}

.dataTable tbody td {
    display: block;
}

.dataTable tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.07);
}

@media screen and (min-width: 992px) {
    .dataTable {
        display: table;
    }

    .dataTable thead {
        display: table-header-group;
        float: none;
    }

    .dataTable tbody {
        display: table-row-group;
    }

    .dataTable thead tr,
    .dataTable tbody tr {
        display: table-row;
    }

    .dataTable th,
    .dataTable tbody td {
        display: table-cell;
    }

    .dataTable td,
    .dataTable th {
        width: auto;
    }
}

.table__operations {
    display: flex !important;
    gap: 0.5rem;
}

.table {
    overflow-x: auto;
}
