:root {
    --green: rgb(20 143 99);
    --blue: #3a83d2;
    --black: rgb(47, 47, 47);
    --red: rgb(182, 44, 44) ;
    --gray: #4d545b;
    --gold: rgb(176, 131, 22);
    --light-blue: rgb(21, 79, 128);
    --purple: #7052c2;
    --orange: #ef7440;
}

.height-full {
    height: 100%;
    min-height: 100vh
}


@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('../../font/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #dbdbdb;
    font-family:   'MiFuentePersonalizada', sans-serif !important;
}

