:root {
    --green: rgb(20 143 99);
    --blue: #3a83d2;
    --black: rgb(47, 47, 47);
    --red: rgb(182, 44, 44);
    --gray: #4d545b;
    --gold: rgb(176, 131, 22);
    --light-blue: rgb(21, 79, 128);
    --purple: #7052c2;
    --orange: #ef7440;
}

.height-full {
    min-height: 100vh;
}

@font-face {
    font-family: "MiFuentePersonalizada";
    src: url("../../font/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: #e3e3e3;
    font-family: "MiFuentePersonalizada", sans-serif !important;
}

.main__section {
    border: none;
}

@media screen and (max-width: 992px) {
    .main__section {
        margin-bottom: 0rem !important;
        width: 100%;
    }

    .main__content {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }
}

.notification__is-active {
    background: var(--green);
    width: 10px;
    height: 20px;
    clip-path: circle();
    position: absolute;
    bottom: 1rem;
    left: 0.7rem;
}

.notification{
    position: relative;
    cursor: pointer;
}
